/** @format */

.header {
  width: 100%;
  height: 56px;
  background: #cb8364;
  margin-top: 100px;
}
.subHeader {
  /* max-width: 1100px; */
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.logo {
  width: 137px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  grid-column: 2/3;
}
.logo .logoText {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
.logo .logoimage {
  width: 75px;
}
.exploreText {
  font-size: 10px;
  font-style: italic;
  color: yellow;
}
.plusText {
  font-size: 10px;
  margin: 0 2px;
  text-transform: capitalize;
  font-style: italic;
  color: yellow;
}
.logo .goldenStar {
  width: 10px;
  height: 10px;
}

.searchInputContainer {
  width: 560px;
  position: relative;
  background: #fff;
  height: 36px;
  border-radius: 1px;
  overflow: hidden;
  display: flex;
}
.searchInput {
  width: 518px;
  border: 0;
  height: 36px;
  outline: none;
  box-sizing: border-box;
  padding: 0 10px;
}
.searchIconContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.rightMenu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.loginButton {
  display: block;
  width: 100px;
  height: 40px;
  /* background: #fff; */
  text-align: center;
  line-height: 48px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.more,
.fullName {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
}
.cart {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  text-decoration: none;
}

.authContainer {
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;

  max-height: inherit;
  min-height: inherit;
}
.modalClose {
  position: absolute;
  color: #cb8364 !important;
  right: 0px !important;
  top: -10px !important;
  font-size: 40px !important;
  cursor: pointer;
  z-index: 1000 !important;
}
.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  max-height: inherit;
  min-height: inherit;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #cb8364;
}

.leftspace {
  width: 40%;
  color: #fff;
  letter-spacing: 1px;

  padding: 0 33px;
  box-sizing: border-box;
}

.loginProfileDesign {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #cb8364;
}
.loginProfileDesign img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
}
.rightspace {
  background-color: white;
  padding: 3rem 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.rightspace h1 {
  font-size: 20px;
  text-transform: capitalize;
  /* color: #cb8364; */
  padding-top: 10px;
  opacity: 0.6;
}
.loginInputContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0px 10px;
}

.menuHeader1 {
  width: auto;
  height: 40px;
  color: white;
  font-weight: bolder;

  /* background-color: #fff;
  border-bottom: 1px solid #cccccc; */
  /* box-shadow: 0 2px 2px -2px #333; */
}
.menuHeader1 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuHeader1 > ul {
  position: relative;
  display: flex;
  margin: 0 20px;
}

.menuHeader1 > ul > li > span {
  display: block;
  line-height: 48px;
  cursor: pointer;
  padding: 0 5px;
  font-size: 16px;
}
.menuHeader1 > ul > li > span:hover {
  color: #cb8364 !important;
}

.menuHeader1 > ul > li > ul {
  position: absolute;
  background: #fff;
  left: 0px;
  right: 0;
  display: none;
  border: 1px solid #cccccc;
  z-index: 1;
  width: 1090px;
}

.menuHeader1 > ul > li:hover ul {
  display: block;
}

.menuHeader1 > ul > li > ul > li {
  margin: 0 20px;
  min-width: 150px;
}
.menuHeader1 > ul > li > ul > li {
  float: left;
}
.menuHeader1 > ul > li > ul > li > a {
  font-weight: bold;
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #cb8364 !important;
  font-weight: bold !important;
}
.menuHeader1 > ul > li > ul > li a {
  display: block;
  padding: 5px 0;
  font-size: 12px;
  text-decoration: none;
  font-weight: 400;
  color: #212121;
}

@media (max-width: 565px) {
}
