.flexRow-WishlisttItem{
    display: flex;
    justify-content: space-between;
}


.wishlistItemContainer{
    margin: 10px 15px;
}
.wishlistPrice {
    justify-self: end;
    right: 40px;
}
.wishlistImgContainer {
    width: 150px;
    height: 180px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
/* .cartProImgContainer{
    width: 450px;
    height: 480px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  
    
}
.cartProImgContainer img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform .2s;
  
} */
/* .cartProImgContainer:hover{
    width: 150px;
    height: 180px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(0,0,0,.1);
    margin: 0px 10px ;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  
}
.cartProImgContainer img:hover{
    max-width: 150px;
    max-height: 180px;
  
    transform: scale(1.5)
  
} */

.wishlistItemDetails{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin:0 15px;
   

}
.wishlistItemDetails h4{
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
}
.wishlistItemDetails p{
    opacity: 0.7;
}

.wishlistActionBtn{
    margin: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #212121;
    cursor: pointer;
    font-size: 15px;
    margin-right: 20px;
    opacity: 0.7;
}
.quantityControl{
    display: flex;
    align-items: flex-start;
}
.quantityControl button{
    width: 40px;
    height: 20px;
    margin: 0 5px;
    border: none;
    border: 1px solid #c2c2c2;
    background-color: transparent;
    text-align: center;
}
.quantityControl input{
    width: 40px;
    height: 20px;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    text-align: center;
}
.rgtContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.WishlistItPrice{
    position: absolute;
   justify-self: end;
   right: 40px;
}
@media(max-width: 565px){
    .flexRow-WishlistItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .wishlistItemDetails{
        display: flex;
        justify-content: center;
        flex: 1;
        flex-direction: column;
        width: 100%;
        margin: 20px 0;
      
    }
    .wishlistProImgContainer{
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        background-color: rgba(0,0,0,.1);
        margin: 0px 10px ;
        padding: 25px;
        border-radius: 5px;
        box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
      
        
    }
    .wishlistProImgContainer img{
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        transition: transform .2s;
      
    }
 
    .quantityControl{
        display: flex;
        align-items: flex-start;
        margin-top: 20px;
    }
    .quantityControl button{
        width: 40px;
        height: 20px;
        margin: 0 5px;
        border: none;
        border: 1px solid #c2c2c2;
        background-color: transparent;
        text-align: center;
    }
    .quantityControl input{
        width: 40px;
        height: 20px;
        border: 1px solid #c2c2c2;
        margin: 0 5px;
        text-align: center;
    }
    .rgtContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;  
    }
    .WishlistItPrice{
       text-align: right;
    }
}