.card{
    width: calc(100% - 20px);
    margin: 10px 10px;

  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  border: none;
}



/* .card{
    width: 100%;
    background: #fff;
    border: 1px solid #cecece;
    box-shadow: 0 0 2px 2px #cecece;
} */
.cardHeader{
    
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
 border-bottom: 1px solid rgba(240, 237, 237, 1);
 font-weight: 900;
 text-transform: uppercase;
 font-size: 20px;
 
}
@media(max-width: 565px)
{
  .card{
    width: calc(100% - 20px);
    margin: 10px 9px;

  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);
  border: none;
}

}